<div class="container-fluid">
    <div class="row">
       <div class="col-md-12">
          <div class="container-padding">
             <div class="well description">
                <a href="#" class="close" onclick="$(this).closest('.well').hide(); return false;"><span aria-hidden="true">&times;</span></a>
                <p>This is a test to retrive information from airfligths.</p>
             </div>
             <!-- <Pages> -->
             <div class="page_navigator">
             </div>
             <!-- </Pages> -->
             <div class="grid grid-table js-grid">
                <div class="addition-block js-actions">
                  <div class="addition-block-right pull-left js-quick-filter">
                     <div class="quick-filter-toolbar btn-group">
                        <div class="input-group js-filter-control">
                           <ng-select [items]="airports" 
                              bindLabel="airport_name" 
                              bindValue="airport_id"
                              (change)="selectAirport($event)"
                              (clear)= "clearAirport()"
                              [(ngModel)]="selectedAirport">
                           </ng-select>
                        </div>
                     </div>
                  </div>
                   <div class="addition-block-right pull-right js-quick-filter">
                      <div class="quick-filter-toolbar btn-group">
                         <div class="input-group js-filter-control">
                            <input placeholder="Quick search" type="text" size="16" class="js-input form-control" name="quick_filter" value="">
                         </div>
                      </div>
                   </div>
                </div>
                <div class="filter-status js-filter-status">
                </div>
                <div class="js-grid-message-container"></div>
                <table class="table text-center table-striped fixed-header">
                   <thead class="js-column-filter-container">
                      <tr>
                         <th colspan="1" rowspan="1" class="sortable">
                            <span>Departs on</span>
                         </th>
                         <th colspan="1" rowspan="1" class="sortable">
                            <span>Flight</span>
                         </th>
                         <th colspan="1" rowspan="1" class="sortable">
                            <span>Status</span>
                         </th>
                         <th colspan="1" rowspan="1" class="sortable">
                            <span>Terminal</span>
                         </th>
                         <th colspan="1" rowspan="1" class="sortable">
                            <span>Gate</span>
                         </th>
                         <th colspan="1" rowspan="1" class="sortable">
                            <span>Arriving at</span>
                         </th>
                         <th colspan="1" rowspan="1" class="sortable">
                            <span>Estimated Arrival</span>
                         </th>
                      </tr>
                   </thead>
                   <!--*ngFor="let cont of contratosRender | paginate: { itemsPerPage: 10, currentPage: p }" -->
                   <tbody class="pg-row-list"  >
                     <ng-template ngFor let-flight [ngForOf]="(infoshow | async)! | paginate: { itemsPerPage: 10, currentPage: p }" let-i="index">
                      <tr class="pg-row" >
                         <td>{{flight.departure.scheduled  | date }}</td>
                         <td>{{flight.flight.iata}}</td>
                         <td>{{flight.flight_status}}</td>
                         <td>{{flight.arrival.terminal}}</td>
                         <td>{{flight.arrival.gate}}</td>
                         <td>{{flight.arrival.scheduled | date }}</td>
                         <td>{{flight.arrival.estimated | date }}</td>
                      </tr>
                    </ng-template>
                   </tbody>
                   <tfoot>
                   </tfoot>
                </table>
             </div>
             <!-- <Pages> -->
             <div class="page_navigator">
                <div class="pgui-pagination">
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>