<div class="container-fluid">
    <div class="row">
       <div class="col-md-12">
          <div class="container-padding">
             <div class="well description">
                <a href="#" class="close" onclick="$(this).closest('.well').hide(); return false;"><span aria-hidden="true">&times;</span></a>
                <p>This is a test to retrive information from airfligths.</p>
                <p> <strong>Airports testing data to look for</strong> : Anaa,Arrabury </p>
                <p> <strong>IATA code  testing data to look for</strong> : ARN,GMP </p>
                <p> <strong>Rows are red when delay is  </strong> :  >= 5</p>
                <p> <strong>Rows are green when fligth is </strong> : status is Landed</p>
             </div>
             <!-- <Pages> -->
             <div class="page_navigator">
             </div>
             <!-- </Pages> -->
             <div class="grid grid-table js-grid">
                <div class="addition-block js-actions">
                  <div class="addition-block-right pull-left js-quick-filter">
                     <div class="quick-filter-toolbar btn-group">
                        <div class="input-group js-filter-control">
                           <ng-select [items]="airports"
                              bindLabel="airport_name"
                              bindValue="airport_id"
                              (change)="selectAirport($event)"
                              (clear)= "clearAirport()"
                              [(ngModel)]="selectedAirport">
                           </ng-select>
                        </div>
                     </div>
                  </div>
                   <div class="addition-block-right pull-right js-quick-filter">
                      <div class="quick-filter-toolbar btn-group">
                         <div class="input-group js-filter-control">
                            <ng-select
                            class="custom"
                            (search)="searchIATA($event)"
                            [(ngModel)]="iatcode"
                            [isOpen]="false"
                            (clear)= "clearAirport()">
                           </ng-select>
                           <div class="input-group-btn dropdown dropdown-lg">
                              <button type="button" style="height: 36px;" class="btn btn-default js-reset" title="Clear" (click)="clearAirport()" >Clear</button>
                           </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="filter-status js-filter-status"></div>
                <div class="js-grid-message-container"></div>
                <div  class="parent">
                  <div><legend>{{titletext}}</legend></div>
                  <div><button type="button" style="height: 36px;" class="btn" (click)="changeData()" title="Check arrivals">{{textbutton}}</button></div>
                </div>
                <table class="table text-center table-striped fixed-header" *ngIf="flagBoo; else elseBlock" >
                   <thead class="js-column-filter-container">
                      <tr>
                         <th colspan="1" rowspan="1" class="sortable">
                            <span>Departs on</span>
                         </th>
                         <th colspan="1" rowspan="1" class="sortable">
                            <span>Flight</span>
                         </th>
                         <th colspan="1" rowspan="1" class="sortable">
                            <span>Status</span>
                         </th>
                         <th colspan="1" rowspan="1" class="sortable">
                            <span>Terminal</span>
                         </th>
                         <th colspan="1" rowspan="1" class="sortable">
                            <span>Gate</span>
                         </th>
                         <th colspan="1" rowspan="1" class="sortable">
                            <span>Arriving at</span>
                         </th>
                         <th colspan="1" rowspan="1" class="sortable">
                            <span>Estimated Arrival</span>
                         </th>
                      </tr>
                   </thead>
                   <tbody class="pg-row-list"  >
                     <ng-template ngFor let-flight [ngForOf]="(infoshow | async)! | paginate: { itemsPerPage: 10, currentPage: p }" let-i="index">
                      <tr class="pg-row" [ngStyle]="{'color':getDelay(flight)}">
                         <td>{{flight.departure.scheduled  | date }}</td>
                         <td>{{flight.flight.iata}}</td>
                         <td>{{flight.flight_status}}</td>
                         <td>{{flight.arrival.terminal}}</td>
                         <td>{{flight.arrival.gate}}</td>
                         <td>{{flight.arrival.scheduled | date }}</td>
                         <td>{{flight.arrival.estimated | date }}</td>
                      </tr>
                    </ng-template>
                   </tbody>
                   <tfoot>
                   </tfoot>
                </table>
                <ng-template #elseBlock>
                  <table class="table text-center table-striped fixed-header">
                     <thead class="js-column-filter-container">
                        <tr>
                           <th colspan="1" rowspan="1" class="sortable">
                              <span>Arrives on</span>
                           </th>
                           <th colspan="1" rowspan="1" class="sortable">
                              <span>Flight</span>
                           </th>
                           <th colspan="1" rowspan="1" class="sortable">
                              <span>Status</span>
                           </th>
                           <th colspan="1" rowspan="1" class="sortable">
                              <span>Terminal</span>
                           </th>
                           <th colspan="1" rowspan="1" class="sortable">
                              <span>Gate</span>
                           </th>
                           <th colspan="1" rowspan="1" class="sortable">
                              <span>Arriving from</span>
                           </th>
                           <th colspan="1" rowspan="1" class="sortable">
                              <span>Estimated Arrival</span>
                           </th>
                        </tr>
                     </thead>
                     <tbody class="pg-row-list">
                        <ng-template ngFor let-flightarrival [ngForOf]="(infoshow | async)! | paginate: { itemsPerPage: 10, currentPage: p }" let-i="index">
                           <tr class="pg-row" [ngStyle]="{'color':getDelayAndStatus(flightarrival)}">
                              <td>{{flightarrival.arrival.scheduled| date }}</td>
                              <td>{{flightarrival.flight.iata}}</td>
                              <td>{{flightarrival.flight_status}}</td>
                              <td>{{flightarrival.arrival.terminal}}</td>
                              <td>{{flightarrival.arrival.gate}}</td>
                              <td>{{flightarrival.arrival.scheduled | date }}</td>
                              <td>{{flightarrival.arrival.estimated | date }}</td>
                           </tr>
                         </ng-template>
                     </tbody>
                     <tfoot>
                     </tfoot>
                  </table>
                </ng-template>
             </div>
             <!-- <Pages> -->
             <div class="page_navigator">
                <div class="pgui-pagination">
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>