<!--<button (click)="add()">Add heroe for action</button>

<button (click)="delete()" >Delete heroe for action</button>
<button (click)="getById()" >Get By Id heroe for action</button>-->


<div class="parent">
    <div style="margin-bottom: 10px;">
        <button (click)="updateone()">UPDATE_ONE 1</button>
    </div>
    <div style="margin-bottom: 10px;">
        <button (click)="updatemany()">UPDATE_MANY 2</button>
    </div>
    <div style="margin-bottom: 10px;">
        <button (click)="saveupdateone()">SAVE_UPDATE_ONE 3</button>
    </div>
    <div style="margin-bottom: 10px;">
        <button (click)="saveupdateonesuccess()">SAVE_UPDATE_ONE_SUCCESS 4</button>
    </div>
    <div style="margin-bottom: 10px;">
        <button (click)="saveupdateoneerror()">SAVE_UPDATE_ONE_ERROR 5</button>
    </div>
    <div style="margin-bottom: 10px;">
        <button (click)="saveupdatemany()">SAVE_UPDATE_MANY 6</button>
    </div>
    <div style="margin-bottom: 10px;">
        <button (click)="saveupdatemanysuccess()">SAVE_UPDATE_MANY_SUCCESS 7</button>
    </div>
    <div style="margin-bottom: 10px;">
        <button (click)="saveupdatemanyerror()">SAVE_UPDATE_MANY_ERROR 8</button>
    </div>
    <div style="margin-bottom: 10px;">
        <button (click)="upsertone()">UPSERT_ONE 9</button>
    </div>
    <div style="margin-bottom: 10px;">
        <button (click)="upsertmany()">UPSERT_MANY 10</button>
    </div>
    <div style="margin-bottom: 10px;">
        <button (click)="saveupsertone()">SAVE_UPSERT_ONE 11</button>
    </div>
    <div style="margin-bottom: 10px;">
        <button (click)="saveupsertonesuccess()">SAVE_UPSERT_ONE_SUCCESS 12</button>
    </div>
    <div style="margin-bottom: 10px;">
        <button (click)="saveupsertoneerror()">SAVE_UPSERT_ONE_ERROR 13</button>
    </div>
    <div style="margin-bottom: 10px;">
        <button (click)="saveupsertmany()">SAVE_UPSERT_MANY 14</button>
    </div>
    <div style="margin-bottom: 10px;">
        <button (click)="saveupsertmanysuccess()">SAVE_UPSERT_MANY_SUCCESS 15</button>
    </div>
    <div style="margin-bottom: 10px;">
        <button (click)="saveupsertmanyerror()">SAVE_UPSERT_MANY_ERROR 16</button>
    </div>
    <div style="margin-bottom: 10px;">
        <button (click)="addone()">ADD_ONE 17</button>
    </div>
    <div style="margin-bottom: 10px;">
        <button (click)="addmany()">ADD_MANY 18</button>
    </div>
    <div style="margin-bottom: 10px;">
        <button (click)="addall()">ADD_ALL 19</button>
    </div>
    <div style="margin-bottom: 10px;">
        <button (click)="saveaddone()">SAVE_ADD_ONE 20</button>
    </div>
    <div style="margin-bottom: 10px;">
        <button (click)="saveaddonesuccess()">SAVE_ADD_ONE_SUCCESS 21</button>
    </div>
    <div style="margin-bottom: 10px;">
        <button (click)="saveaddoneerror()">SAVE_ADD_ONE_ERROR 22</button>
    </div>
    <div style="margin-bottom: 10px;">
        <button (click)="saveaddmany()">SAVE_ADD_MANY 23</button>
    </div>
    <div style="margin-bottom: 10px;">
        <button (click)="saveaddmanysuccess()">SAVE_ADD_MANY_SUCCES 24</button>
    </div>
    <div style="margin-bottom: 10px;">
        <button (click)="saveaddmanyerror()">SAVE_ADD_MANY_ERROR 25</button>
    </div>
    <div style="margin-bottom: 10px;">
        <button (click)="removeone()">REMOVE_ONE 26</button>
    </div>
    <div style="margin-bottom: 10px;">
        <button (click)="removemany()">REMOVE_MANY 27</button>
    </div>
    <div style="margin-bottom: 10px;">
        <button (click)="removeall()">REMOVE_ALL 28</button>
    </div>
    <div style="margin-bottom: 10px;">
        <button (click)="savedeleteone()">SAVE_DELETE_ONE 29</button>
    </div>
    <div style="margin-bottom: 10px;">
        <button (click)="savedeleteonesuccess()">SAVE_DELETE_ONE_SUCCESS 30</button>
    </div>
    <div style="margin-bottom: 10px;">
        <button (click)="savedeleteonerror()">SAVE_DELETE_ONE_ERROR 31</button>
    </div>
    <div style="margin-bottom: 10px;">
        <button (click)="savedeletemany()">SAVE_DELETE_MANY 32</button>
    </div>
    <div style="margin-bottom: 10px;">
        <button (click)="savedeletemanysuccess()">SAVE_DELETE_MANY_SUCCESS 33</button>
    </div>
    <div style="margin-bottom: 10px;">
        <button (click)="savedeletemanyerror()">SAVE_DELETE_MANY_ERROR 34</button>
    </div>
</div>







